<html>
<head>
    <title>Webpack Test</title>
</head>
<body>
    <h1>Webpack Test</h1>
    <script src="{{ webpack_asset('app1') }}"></script>
    <script src="{{ webpack_asset('app2') }}"></script>
    <script src="{{ webpack_asset('admin') }}"></script>
</body>
</html>
